@import 'bootstrap/dist/css/bootstrap.min.css';

.accordion-item {
    background-color: rgba(166, 94, 199, 0.6);
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: rgb(156, 156, 241);
}

.accordion-button::after {
    display: block;
    width: 10%;
    margin-left: 0;
    flex-shrink: 1;
    /*background-size: 10% 10%;*/
}